<div class="swiper slider-lg">
	<div class="swiper-wrapper">
		<div class="swiper-slide w-auto">@@include('./components/card-lg/index.html',{ "title":"Adidas Ultraboost", "price":"179.99$", "img":"https://placehold.co/600x400/EEE/31343C", "category":"Running Shoes", "rating":"4.8", "reviews":"1256" })</div>

		<div class="swiper-slide w-auto">@@include('./components/card-lg/index.html',{ "title":"Nike Air Max 270", "price":"129.99$", "img":"https://placehold.co/600x400/EEE/31343C", "category":"Lifestyle Shoes", "rating":"4.5", "reviews":"782" })</div>

		<div class="swiper-slide w-auto">@@include('./components/card-lg/index.html',{ "title":"Reebok Club C 85", "price":"74.99$", "img":"https://placehold.co/600x400/EEE/31343C", "category":"Casual Shoes", "rating":"4.3", "reviews":"541" })</div>

		<div class="swiper-slide w-auto">@@include('./components/card-lg/index.html',{ "title":"Asics Gel-Kayano 27", "price":"149.99$", "img":"https://placehold.co/600x400/EEE/31343C", "category":"Stability Running Shoes", "rating":"4.7", "reviews":"879" })</div>

		<div class="swiper-slide w-auto">@@include('./components/card-lg/index.html',{ "title":"Puma RS-X Toys", "price":"89.99$", "img":"https://placehold.co/600x400/EEE/31343C", "category":"Lifestyle Sneakers", "rating":"4.2", "reviews":"394" })</div>
	</div>

	<div class="slider-lg-scrollbar h-2 mt-4"></div>
</div>
