<div class="w-80">
	<div
		class="flex items-center justify-center aspect-video bg-gray-50 bg-cover transition-transform hover:scale-105 hover:shadow-md"
		style="background-image: url(https://unsplash.com/photos/x3pW1V-xa8E/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjk3ODE4MzYwfA&force=true&w=640);">
		<button
			class="bg-white rounded-full flex items-center justify-center p-4 text-accent hover:bg-white/20 backdrop-blur-md hover:border-accent transition-colors">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
				class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
			</svg>
		</button>
	</div>
	<div>
		<div class="text-gray-400 text-sm mt-4">26.05.2023</div>
		<h4 class="mt-2">@@title</h4>
	</div>
</div>
