<div class="swiper slider-youtube">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
    <div class="swiper-slide w-auto">
      @@include('./components/youtube-item/index.html',{"title":"Техношторм: Інновації та технології на відеорадарі"})
    </div>
  </div>
  <div class="slider-yt-scrollbar h-2 mt-4"></div>
</div>